*{ box-sizing: border-box;
}

header{
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
}
section{
	margin-left: 30px
}

.boxlogo { 
	display: inline-block;
	margin-right: 30px;
 }
 
 nav{
 	display: inline-block;
 	vertical-align: 5px;	
 }

 li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

 section {
 	margin-left: 10px
 }
 .mainred{
 	color: #EE4036;
 	font-size: 22px;
 }
 .newsblue{
 	color: #3D58A6;
 	font-size: 22px;
 }
 .contacblue{
 	color: #3D58A6;
 	font-size: 22px;
 }

 section{
 	margin-top: 30px;
 }