*{ box-sizing: border-box;
}

header{
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
}
section{
	margin-left: 30px
}

.boxlogo { 
	display: inline-block;
	margin-right: 30px;
 }
 
 nav{
 	display: inline-block;
 	vertical-align: 5px;	
 }

 li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    /*font-family: "BPG Nino Mtavruli Bold", sans-serif;*/
}

 section {
 	margin-left: 10px;
 	margin-bottom 30px;
 }
 .mainred{
 	color: #EE4036;
 	font-size: 22px;
 }
 .newsblue{
 	color: #3D58A6;
 	font-size: 22px;
 }
 .contacblue{
 	color: #3D58A6;
 	font-size: 22px;
 }

 .imgedit{
 	margin-top: 30px;
 }
 .resp{
 	display: inline-block;
 	vertical-align: top;
 }
 .ap{
 	display: inline-block;
 	vertical-align: top;
 }
 .take-pic{
 	width: 928px;
 	height: 594px;
 	margin-left: 38px;
 }
 .responsive-design{
 	display: inline-block;
 	background-color: #F2F2F2;
 	margin-top: 30px;
 	margin-left: 38px;
 	vertical-align: top;
 }
 .design{
 	font-size: 22px;
 	width: 274px;
 	margin-top: 6px;
 	margin-left: 21px;
 }
  .about-design{
 	display: inline-block;
 	vertical-align: top;
 	width: 355px;
 	height: 143.29px;
 	font-size: 20px;
 	margin-top: 12px;
 	margin-left: 65px;
 }
  .app-develop{
 	display: inline-block;
 	vertical-align: top;
 	background-color: #F2F2F2;
 	margin-top: 30px;
 	margin-left: 89px;
 	vertical-align: top;
 }
 .touch-image{
 	display: inline-block;
 	width: 102.87px;
 	height: 145.5px;
 	margin-top: 12px;
 	margin-left: 27px;
 }
.about-app{
	display: inline-block;
 	vertical-align: top;
 	width: 355px;
 	height: 143.29px;
 	font-size: 20px;
 	margin-top: 12px;
 	margin-left: 65px;
}
.phone-image{
	display: inline-block;
 	width: 84.81px;
 	height: 127.51px;
 	margin-top: 12px;
 	margin-left: 27px;
}
.app{
	font-size: 22px;
 	width: 274px;
 	margin-top: 6px;
 	margin-left: 21px;
}
.featured-media{
	margin-top: 34px;
	margin-left: 38px;
	font-size: 24px;
}
.social-media{
	margin-top: 68px;
	margin-left: 50px;
}
.fb{
	margin-right: 36px;
}
.youtube{
	margin-left: 36px;
}
